<div class="card mx-auto mt-5 w-100 gap-5">
    <h1 class="text-4xl font-bold text-primary">TP Directives</h1>
    <div class="card  bg-base-100 card-md shadow-sm " >
        <button class="btn btn-primary" (click)="onClick()">{{isActif ? 'Masquer' : 'Afficher'}} Détail</button>
        @if (isActif) {
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit quaerat, quam vero aperiam repellat libero voluptate aliquid. Vero ab maxime repudiandae inventore ipsam similique, quas magnam quae porro, libero itaque!</p>
        }
        @for (item of compteur; track $index) {
            <p class="p-1 pl-4" [ngClass]="item>=5 ?'text-white': '' " [ngStyle]="{ 'background-color' : item>=5 ? 'green' : ''}">{{item}}</p>
        }
    </div>
</div>